@model CollectIt.MVC.View.ViewModels.RegisterViewModel
@{
    Layout = null;
}

@{
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
}

<div class="registration">  
    <form asp-action="Register" method="post" asp-controller="Account">
        <h3 class="text-center">Регистрация</h3>
        <div class="form-group">
            @Html.EditorFor(x => x.UserName, new {htmlAttributes = new {@class = "form-control item", placeholder = "Имя"}})
            @Html.ValidationMessageFor(x => x.UserName, null, new {@class = "text-danger text-center"})
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Email, new {htmlAttributes = new {@class = "form-control item", placeholder = "Почта"}})
            @Html.ValidationMessageFor(x => x.Email, null, new {@class = "text-danger text-center"})
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Password, new {htmlAttributes = new {@class = "form-control item", placeholder = "Пароль"}})
            @Html.ValidationMessageFor(x => x.Password, null, new {@class = "text-danger text-center"})
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.ConfirmPassword, new {htmlAttributes = new {@class = "form-control item", placeholder = "Подтвердите пароль"}})
            @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new {@class = "text-danger text-center"})
        </div>
        @Html.ValidationSummary(true, null, new{@class = "text-danger text-center text-decoration-none"})
        <div class="form-group">
            <button class="create-account btn-primary" type="submit">Зарегистрироваться</button>
        </div>
        <div class="text-center">
            <p>
                Уже есть аккаунт?
                <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
            </p>
        </div>
    </form>
</div>