@model CollectIt.MVC.View.ViewModels.UploadMusicViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Загрузить музыку</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/View.styles.css" asp-append-version="true"/>
    <link href="~/lib/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet">;
</head>
<body>
<main class="w-100 d-flex justify-content-center align-items-center subs-center" style="">
    <div class="w-50 p-3 bg-white shadow rounded">
        <h2 class="text-center my-5">Загрузка музыки</h2>
        <form asp-controller="Musics" method="post" asp-action="UploadMusic" enctype="multipart/form-data" class="w-75 text-start mx-auto">
            <div class="preview mb-3"></div>
            <div class="form-group">
                @Html.EditorFor(x => x.Content, new { htmlAttributes = new { @class = "form-control mb-3" } })
                @Html.ValidationMessageFor(x => x.Content, null, new { @class = "text-danger text-center" })
            </div>

            <div class="form-group">
                @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control mb-3", placeholder = "Введите название музыки" } })
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger text-center" })
            </div>
            
            <div class="form-group">
                @Html.EditorFor(x => x.Tags, new { htmlAttributes = new { @class = "form-control mb-3", placeholder = "Введите тэги через пробел" } })
                @Html.ValidationMessageFor(x => x.Tags, null, new { @class = "text-danger text-center" })
            </div>
            
            <div class="form-group">
                @Html.EditorFor(x => x.Duration, new { htmlAttributes = new { @class = "form-control mb-3", placeholder = "Введите длительность" } })
                @Html.ValidationMessageFor(x => x.Duration, null, new { @class = "text-danger text-center" })
            </div>
            <input class="btn mx-auto btn-primary mb-5" value="Добавить музыку" type="submit"/>
            @Html.ValidationSummary(true, null, new { @class = "text-danger text-center text-decoration-none" }, "p")
        </form>
    </div>
</main>
</body>
</html>