@using CollectIt.Database.Entities.Account
@using CollectIt.MVC.View.Controllers
@using CollectIt.MVC.View.Views.Shared.Components.ImageCards
@using CollectIt.MVC.View.Views.Shared.Components.SearchBar
@model CollectIt.MVC.View.Views.Shared.Components.ImageCards.ImageCardsViewModel
@{
    Layout = "_ImagesLayout";
    ViewData["Title"] = "Изображения";
}

<div class="h-100">
    <div class="images-search my-6 h-25 justify-content-center align-items-center d-flex mb-3 mt-4">
        <vc:search-bar chosenType="@ResourceType.Image" action="@nameof(ImagesController.GetImagesByQuery)" controller="Images" query="@Model.Query"/>
    </div>
    <div class="images mb-0 d-block">
        <div class="w-100 h-100 bg-light rounded">
            <div class="p-3 mih-1">
                <vc:image-cards images="@Model.Images"/>
            </div>
            <div class="d-flex justify-content-center mh-100">
                <ul class="pagination">
                    <li class="page-item">
                        <button class="page-link" type="button" @(Model.PageNumber == 1
                                                                      ? "disabled"
                                                                      : $"onclick=location.href='{Url.Action("GetImagesByQuery", new {p = Model.PageNumber - 1, q = Model.Query})}';")>
                            &laquo;
                        </button>
                    </li>
                    <li class="page-item">
                        <button class="page-link" type="button" @(Model.MaxPagesCount <= Model.PageNumber
                                                                      ? "disabled"
                                                                      : $"onclick=location.href='{Url.Action("GetImagesByQuery", new {p = Model.PageNumber + 1, q = Model.Query})}';")>
                            &raquo;
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>