@model CollectIt.MVC.View.ViewModels.PaymentPageViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Оплата подписки</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/View.styles.css" asp-append-version="true"/>
    <link href="~/lib/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet">;
</head>
<body>
<main class="d-flex justify-content-center align-items-center">
    <div class="p-3 w-50 bg-white shadow rounded" style="margin-top: 200px">
        <h3 class="mb-5 mt-lg-3 text-center">Хотите оформить подписку "@Model.Subscription.Name"?</h3>
        <div class="mb-3 mt-lg-5 w-100 d-inline-flex justify-content-around">
            <form method="post" asp-action="SubscribeLogic" asp-route-subscriptionId="@Model.Subscription.Id" asp-antiforgery="true">
                @* <input name="subscriptionId" value="@Model.Subscription.Id" type="hidden" readonly="readonly"/> *@
                <input name="declined" value="false" type="hidden"/>
                <div class="w-100 mt-lg-4">
                    <button type="submit" name="success" class="btn btn-outline-success btn-lg" style="width: 300px; height: 70px">
                        Да
                    </button>
                </div>
            </form>
            <form method="post" asp-action="SubscribeLogic" asp-route-subscriptionId="@Model.Subscription.Id" asp-antiforgery="true">
                <input name="declined" value="true" type="hidden" readonly="readonly"/>
                <div class="w-100 mt-lg-4">
                    <button type="submit" class="btn btn-outline-danger btn-lg" style="width: 300px; height: 70px">
                        Нет
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>